<?xml version="1.0" encoding="utf-8"?>
<plan xmlns="xsdLessonPlan">
  <columns xmlns="">
    <theme_columns>
      <column id="197097" colType="1" colName="" showOnCoursePage="false" visibleFor="everyone" />
      <column id="197109" colType="0" colName="Overblik" showOnCoursePage="false" visibleFor="everyone" />
    </theme_columns>
    <lesson_columns>
      <column id="197100" colType="13" colName="" showOnCoursePage="true" visibleFor="everyone" />
      <column id="197101" colType="3" colName="Underviser, emne og studieaktivitet (K1-K4)" showOnCoursePage="true" visibleFor="everyone" />
      <column id="197102" colType="5" colName="" showOnCoursePage="true" visibleFor="everyone" />
      <column id="197110" colType="0" colName="Indhold" showOnCoursePage="true" visibleFor="everyone" />
      <column id="197104" colType="4" colName="Forberedelse og pædagogisk tilrettelæggelse" showOnCoursePage="true" visibleFor="everyone" />
      <column id="197105" colType="7" colName="" showOnCoursePage="true" visibleFor="everyone" />
      <column id="197108" colType="12" colName="" showOnCoursePage="true" visibleFor="everyone" />
      <column id="197106" colType="8" colName="" showOnCoursePage="true" visibleFor="everyone" />
      <column id="197107" colType="9" colName="" showOnCoursePage="true" visibleFor="everyone" />
    </lesson_columns>
  </columns>
  <themes xmlns="">
    <theme themeId="12009">
      <title>{{course_name}}</title>
      <customs>
        <custom id="197109" colName="-">
          {{ "Below is the weekly plans for " + course_name + " Learning goals from the curriculum are described in the <a target=\"_blank\" href=\"" + pages_url + "/" + course_plan_filename + "\">the lecture plan</a>" | e }}
        </custom>
      </customs>
      <lessons>
        {%- for week in ww_dict %}
        <lesson>
          <name>{{week['teacher']}}</name>
          <description>{{week['description']}}</description>
          <start>{{week['date_start']}}T22:01:00</start>
          <stop>{{week['date_end']}}T21:59:00</stop>
          <customs>
            <custom id="197110" colName="Indhold">
              {{ "<p>Week "+ week['week']|string + " resources on <a target=\"_blank\" href=\""+ pages_url +"/weekly-plans/weekly_ww"+ week['week']|string + "\">gitlab</a></p>" | e }}
            </custom>
          </customs>
        </lesson>
        {%- endfor %}
      </lessons>
    </theme>
  </themes>
</plan>
